<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.application3">
    <!-- 此应用可显示在其他应用上方 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!-- SYSTEM_OVERLAY_WINDOW -->
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>

    <!-- 控制振动 -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- 开机启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- 读取您共享存储空间中的内容 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 修改或删除您共享存储空间中的内容 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- MOUNT_UNMOUNT_FILESYSTEMS 装载和卸载文件系统指在sd卡创建文件-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!--获取任务列表在5.0系统权限收紧已失效-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--使用情况访问权限-需单独在设置里开启-->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:name=".my_app"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="自动脚本"
        android:theme="@style/AppTheme"
        android:resizeableActivity="true">

       
        <receiver
            android:name=".autorun"
            android:enabled="false"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

            <intent-filter android:priority="1000">

                <action android:name="android.intent.action.BOOT_COMPLETED"/>

            </intent-filter>

        </receiver>
        <!--android:theme="@android:style/Theme.NoDisplay"-->
        <activity
            android:theme= "@android:style/Theme.Translucent.NoTitleBar.Fullscreen"


            android:name=".qdactivity">


            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>


        <service
            android:foregroundServiceType="mediaProjection"

            android:name=".FloatWindowService"
            android:enabled="true"
            android:exported="true"/>
        <service       

            android:name=".myaccessibity"
            android:enabled="true"

            android:exported="true"

            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">       
            <intent-filter>

                <action android:name="android.accessibilityservice.AccessibilityService"/>

            </intent-filter>

            <meta-data

                android:name="android.accessibilityservice"

                android:resource="@xml/config"/>

        </service>
        
      <meta-data
          android:name="android.max_aspect"
          android:value="4.0"/>

    </application>
	
</manifest>
